<div class="row">
    <div class="col">
        <div class="row">
            <div class="col">
                input a domain
                <mat-form-field class="single-categories-input-section">
                    <mat-label>Single domain Check</mat-label>
                    <input matInput type="text" [(ngModel)]="value" (blur)="onDomainInputBlur()">
                    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div *ngIf="singleDomainCategories$">
                    <div *ngFor="let cat of (singleDomainCategories$ | async)?.categories;index as i">
                        ({{i+1}}) {{cat}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="col">
                input an ip
                <mat-form-field class="single-categories-input-section">
                    <mat-label>Single ip Check</mat-label>
                    <input matInput type="text" [(ngModel)]="ip" (blur)="onIpInputBlur()">
                    <button mat-button *ngIf="ip" matSuffix mat-icon-button aria-label="Clear" (click)="ip=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div *ngIf="singleIpCategories$">
                    <div *ngFor="let cat of (singleIpCategories$ | async)?.categories;index as i">
                        ({{i+1}}) {{cat}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>